<h1>TilsWiki</h1>

<% form_tag :action => '/', :method => :post do %>
  <label for="title">Title</label>
  <%= text_field :id => 'title', :name => 'title' %>
  <%= submit_button 'Create Page' %>
<% end %>

<ul>
  <li><a href="/sandbox">Sandbox</a> - a demo page to try it out</li>
  <li><a href="/about">About tilswiki</a> - What this is. Features. Non-Features</li>
</ul>
