<html>

<head>
<script src="/jquery-1.2.6.min.js" type="text/javascript"></script>
<script src="/jquery.ui.all.js" type="text/javascript"></script>
<%= catch_content :for_head %>

<link rel="stylesheet" type="text/css" href="/master.css" />

</head>

<body> 

    <%= catch_content :for_layout %>

</body>
</html>
