<% throw_content(:for_head) do %>
<title><%= @title %></title>
<script src="/page.js" type="text/javascript"></script>
<% end %>

<div class="panel">
<ul class="panel">

<li><a class="h1" title="Big heading"><!-- --></a></li>
<li><a class="h2" title="Medium heading"><!-- --></a></li>
<li><a class="h3" title="Small heading"><!-- --></a></li>

<li><a class="bold" title="Bold"><!-- --></a></li>
<li><a class="italic" title="Italic"><!-- --></a></li>

<li class="break"><a class="colorRed" title="Red"><!-- --></a></li>
<li><a class="colorGreen" title="Green"><!-- --></a></li>
<li><a class="colorBlue" title="Blue"><!-- --></a></li>

<li><a class="increaseFontSize" title="Increase font size"><!-- --></a></li>
<li><a class="decreaseFontSize" title="Decrease font size"><!-- --></a></li>

<li class="break"><a class="insertHorizontalRule" title="Insert horizontal rule"><!-- --></a></li>

<li class="break"><a class="insertImage thickbox" title="Insert images" 
    href="#TB_inline?height=300&width=300&inlineId=imageUpload"><!-- --></a></li>
</ul>
<p class="progress"></p>
</div>

<div id="wysiwyg" contenteditable="true">
<%= @content -%>
</div>


<div id="imageUpload">
<% form_tag :action => '/' / params[:page], :method => 'POST', :enctype => 'multipart/form-data' do %>
  <p>
  <input type="file" name="image" />
  </p>
  <p>
  <input type="submit" value="OK" />
  </p>
<% end -%>
</div>
