/* --------- front page -------- */

body#index h1 {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 20px;
}

body#index p, body#index form {
  margin-left: 120px;
  width: 40em;
}

body#index form {
  margin-top: 5em;
  margin-bottom: 5em;
}

body#index ul {
  margin-left: 135px;
  list-style-type: square;
  padding: 0;
}

body#index li {
  margin-top: 0.5em;
}

body#index input {
  font-weight: bold;
  font-size: 120%;
}
body#index p.footer {
  margin: 0;
}

/* --------- content page -------- */

body {
  padding: 0.5em;
}

#wysiwyg {
  border: none;
  min-height: 600px;
  margin-right: 80px;
}

.dropTarget {
  position: absolute;
  left: 10px;
  top: 10px;

  height: 0;
  width: 600px;
  border-top: 5px dashed lightgrey;
}

.debugLine {
  position: fixed;
  height: 1px;
  width: 100%;
  background: red;
  margin: 0;
  padding: 0;
}

#wysiwyg div.image {
  margin: 0.5em;
  margin-left: 0;
  float: left;
}

h1,h2,h3,hr {
  clear: both;
}


.help {
  color: grey;
  font-size: smaller;
}

.titleBar, .resizeCorner {
  border: 1px solid black;
  background-color: #efefef;
}

.resizeCorner {
  height: 23px;
  width: 23px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-top-left: 5px;
  cursor: se-resize;
}

.resizeFrame {
  position: absolute;
  border: 3px solid lightgrey;
}

.image img {
  display: none;
  visibility: hidden;
}

.image img.current {
  display: inline;
  visibility: visible;
}

.titleBar {
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-top-left: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-top-right: 5px;

  cursor: move;
}



/* ------------ Panel -------------- */

div.panel {
  position: fixed;
  width: 70px;
  height: 300px;
  top: 50px;
  right: 0px;

  border: 1px solid black;
  border-right: none;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius-top-left: 5px;
  -webkit-border-radius-bottom-left: 5px;

  background-color: #efefef;

  padding: 0 0 4px 4px;
}

div.panel ul {
  position: relative;
  padding: 0;
  margin-top: 10px;
}

div.panel p.progress {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
  font-size: small;
  color: grey;
}
div.panel p.progress img {
  float: left;
  border: none;
  margin-right: 3px;
}
div.panel .progress span.unsaved {
  color: darkred;
}

ul.panel li { list-style-type: none; float: left; margin: 0 2px; }
ul.panel li.break { clear: both; }
ul.panel li a { opacity: 0.6; display: block; width: 16px; height: 16px; background: url('/images/controls.png') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
ul.panel li a:hover, ul.panel li a.active { opacity: 0.99; }
ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #ccc; border-left-color: #AAA; border-top-color: #AAA; padding: 0; }

ul.panel li a.bold { background-position: 0 -16px; }
ul.panel li a.italic { background-position: -16px -16px; }
ul.panel li a.colorRed { background-position: -48px -16px; }
ul.panel li a.colorGreen { background-position: -64px -16px; }
ul.panel li a.colorBlue { background-position: -80px -16px; }

ul.panel li a.justifyLeft { background-position: 0 0; }
ul.panel li a.justifyCenter { background-position: -16px 0; }
ul.panel li a.justifyRight { background-position: -32px 0; }
ul.panel li a.justifyFull { background-position: -48px 0; }

ul.panel li a.indent { background-position: -64px 0; }
ul.panel li a.outdent { background-position: -80px 0; }

ul.panel li a.subscript { background-position: -64px -16px; }
ul.panel li a.superscript { background-position: -80px -16px; }

ul.panel li a.undo { background-position: 0 -64px; }
ul.panel li a.redo { background-position: -16px -64px; }

ul.panel li a.insertOrderedList { background-position: -32px -48px; }
ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

ul.panel li a.h1 { background-position: 0 -32px; }
ul.panel li a.h2 { background-position: -16px -32px; }
ul.panel li a.h3 { background-position: -32px -32px; }
ul.panel li a.h4 { background-position: -48px -32px; }
ul.panel li a.h5 { background-position: -64px -32px; }
ul.panel li a.h6 { background-position: -80px -32px; }

ul.panel li a.cut { background-position: -32px -64px; }
ul.panel li a.copy { background-position: -48px -64px; }
ul.panel li a.paste { background-position: -64px -64px; }

ul.panel li a.increaseFontSize { background-position: -16px -80px; }
ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

ul.panel li a.createLink { background-position: -80px -48px; }
ul.panel li a.subscription { background-position: -48px -80px; }
ul.panel li a.insertImage { background-position: -80px -80px; }

ul.panel li a.html { background-position: -48px -48px; }
ul.panel li a.removeFormat { background-position: -80px -64px; }

ul.panel li a.empty { background-position: -64px -80px; }

/* ----------- Image Upload Form ----------- */
#imageUpload {
  visibility: hidden;
}

/* ----------- change URL form ------------- */
#changeURL {
  visibility: hidden;
}

.url {
  color: green;
}

.url em {
  font-weight: bold;
  font-style: normal;
}


/* ------------ Footer -------------- */
p.footer {
  position: absolute;
  bottom: 2em;
}
p.footer, p.footer a {
  font-size: 0.8em;
  color: grey;
}
