/* --------- front page -------- */

body#index h1 {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 20px;
}

body#index p, body#index form {
  margin-left: 120px;
  width: 40em;
}

body#index form {
  margin-top: 5em;
  margin-bottom: 5em;
}

body#index ul {
  margin-left: 135px;
  list-style-type: square;
  padding: 0;
}

body#index li {
  margin-top: 0.5em;
}

body#index input {
  font-weight: bold;
  font-size: 120%;
}
body#index p.footer {
  margin: 0;
}

/* --------- content page -------- */

body {
  padding-top: 0;
  margin-top: 0;
  margin-left: 20px;
  background-color: #f8f7ef;
}

#wysiwyg {
  margin-top: 20px;
  min-height: 600px;
  width: 750px;
  background-color: white;
  padding: 20px;
  padding-top: 0;
  border: 1px solid grey;
  font-size: 0.88em;
  line-height: 1.8em;
}

#wysiwyg h1, #wysiwyg h2 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

#wysiwyg h2 {
  font-size: 1.2em;
}

.dropTarget {
  position: absolute;
  left: 40px;

  height: 0;
  width: 750px;
  border-top: 5px dashed lightgrey;
}

.debugLine {
  position: fixed;
  height: 1px;
  width: 100%;
  background: red;
  margin: 0;
  padding: 0;
}

h1,h2,hr {
  clear: both;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
}


.help {
  color: grey;
  font-size: smaller;
}


/* ----------- Image Upload Form ----------- */
#imageUpload {
  display: none;
}

/* ----------- change URL form ------------- */
#changeURL {
  display: none;
}

.url {
  color: green;
}

.url em {
  font-weight: bold;
  font-style: normal;
}


/* ------------ Footer -------------- */
p.footer {
  font-size: 0.8em;
}
p.footer, p.footer a {
  color: grey;
}
