#panel {
  position: fixed;
  width: 120px;
  top: 20px;
  left: 800px;
  padding: 0 0 4px 4px;
  line-height: 1em; }

#panel .nav {
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-size: 15px;
  font-family: "Arial Black"; }
  #panel .nav div {
    float: left;
    width: 49px;
    padding: 5px;
    margin: 0;
    background-color: lightgrey;
    border-bottom: 1px dashed grey; }
  #panel .nav div.current {
    background-color: #fbfaf4;
    border: 1px dashed grey;
    border-bottom: none; }
  #panel .nav a {
    color: black;
    font-size: 0.8em;
    text-decoration: none; }

#panel_edit, #panel_history {
  border: 1px dashed grey;
  border-top: none;
  background-color: #fbfaf4;
  position: absolute;
  top: 25px;
  width: 120px; }

#panel_edit {
  height: 300px; }
  #panel_edit ul {
    position: relative;
    padding: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 2px;
    margin: 0;
    clear: both; }
    #panel_edit ul li {
      float: left;
      list-style: none; }
    #panel_edit ul a {
      background: transparent url("/images/controls.png") no-repeat scroll -64px -80px;
      display: block;
      width: 16px;
      height: 16px; }
    #panel_edit ul #panel_bold a {
      background-position: 0 -16px; }
    #panel_edit ul #panel_italic a {
      background-position: -16px -16px; }
    #panel_edit ul #panel_colorRed a {
      background-position: -48px -16px; }
    #panel_edit ul #panel_colorGreen a {
      background-position: -64px -16px; }
    #panel_edit ul #panel_colorBlue a {
      background-position: -80px -16px; }
    #panel_edit ul #panel_undo a {
      background-position: 0 -64px; }
    #panel_edit ul #panel_redo a {
      background-position: -16px -64px; }
    #panel_edit ul #panel_insertOrderedList a {
      background-position: -32px -48px; }
    #panel_edit ul #panel_insertUnorderedList a {
      background-position: -16px -48px; }
    #panel_edit ul #panel_insertHorizontalRule a {
      background-position: 0 -48px; }
    #panel_edit ul #panel_h1 a {
      background-position: 0 -32px; }
    #panel_edit ul #panel_h2 a {
      background-position: -16px -32px; }
    #panel_edit ul #panel_cut a {
      background-position: -32px -64px; }
    #panel_edit ul #panel_copy a {
      background-position: -48px -64px; }
    #panel_edit ul #panel_paste a {
      background-position: -64px -64px; }
    #panel_edit ul #panel_increaseFontSize a {
      background-position: -16px -80px; }
    #panel_edit ul #panel_decreaseFontSize a {
      background-position: -32px -80px; }
    #panel_edit ul #panel_subscription a {
      background-position: -48px -80px; }
    #panel_edit ul #panel_insertImage a {
      background-position: -80px -80px; }
    #panel_edit ul #panel_html a {
      background-position: -48px -48px; }
    #panel_edit ul #panel_removeFormat a {
      background-position: -80px -64px; }
    #panel_edit ul #panel_empty a {
      background-position: -64px -80px; }
  #panel_edit .progress {
    position: absolute;
    bottom: 0px;
    left: 3px;
    width: 100%;
    margin: 0;
    font-size: small;
    color: grey; }
    #panel_edit .progress img {
      float: left;
      border: none;
      margin-right: 3px; }
    #panel_edit .progress .unsaved {
      color: darkred; }
    #panel_edit .progress .error {
      color: red; }
  #panel_edit a {
    border: 3px solid #fbfaf4; }
    #panel_edit a:hover, #panel_edit a.active {
      border: outset grey; }
    #panel_edit a:active {
      border: inset grey; }
  #panel_edit ol {
    padding: 0;
    padding-left: 2px;
    list-style: none;
    clear: both; }
    #panel_edit ol li {
      width: 100%;
      padding-top: 2px;
      padding-bottom: 2px; }
    #panel_edit ol a {
      width: 100%;
      font-size: small;
      color: black; }

#panel_history {
  min-height: 250px;
  display: none; }
  #panel_history #slider {
    margin: 20px 10px 20px 10px; }
  #panel_history #current_version {
    position: absolute;
    padding-right: 5px;
    left: 40px;
    top: 30px;
    font-size: 0.8em; }
    #panel_history #current_version .detail {
      color: grey; }
  #panel_history .progress {
    position: absolute;
    top: 50px;
    left: 50px; }
