body {
  font-size: 0.88em;
  line-height: 1.8em; }

h1, h2 {
  font-family: "arial black";
  clear: both; }

h1 {
  line-height: 1em;
  font-size: 3em;
  letter-spacing: -3px;
  margin-top: 1.2em;
  margin-bottom: 0.4em; }

h2 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 1.2em;
  letter-spacing: -1px; }

#panel {
  position: fixed;
  width: 120px;
  top: 20px;
  left: 800px;
  padding: 0 0 4px 4px;
  line-height: 1em; }

#panel .nav {
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-size: 15px;
  font-family: "Arial Black"; }
  #panel .nav div {
    float: left;
    width: 49px;
    padding: 5px;
    margin: 0;
    background-color: lightgrey;
    border-bottom: 1px dashed grey; }
  #panel .nav div.current {
    background-color: #fbfaf4;
    border: 1px dashed grey;
    border-bottom: none; }
  #panel .nav a {
    color: black;
    font-size: 0.8em;
    text-decoration: none; }

#panel_edit, #panel_history {
  border: 1px dashed grey;
  border-top: none;
  background-color: #fbfaf4;
  position: absolute;
  top: 25px;
  width: 120px; }

#panel_edit {
  height: 300px; }
  #panel_edit ul {
    position: relative;
    padding: 0;
    margin-top: 10px;
    padding: 0;
    padding-left: 2px;
    margin: 0;
    clear: both; }
    #panel_edit ul li {
      float: left;
      list-style: none; }
    #panel_edit ul a {
      background: transparent url("/images/controls.png") no-repeat scroll -64px -80px;
      display: block;
      width: 16px;
      height: 16px; }
    #panel_edit ul #panel_bold a {
      background-position: 0 -16px; }
    #panel_edit ul #panel_italic a {
      background-position: -16px -16px; }
    #panel_edit ul #panel_colorRed a {
      background-position: -48px -16px; }
    #panel_edit ul #panel_colorGreen a {
      background-position: -64px -16px; }
    #panel_edit ul #panel_colorBlue a {
      background-position: -80px -16px; }
    #panel_edit ul #panel_undo a {
      background-position: 0 -64px; }
    #panel_edit ul #panel_redo a {
      background-position: -16px -64px; }
    #panel_edit ul #panel_insertOrderedList a {
      background-position: -32px -48px; }
    #panel_edit ul #panel_insertUnorderedList a {
      background-position: -16px -48px; }
    #panel_edit ul #panel_insertHorizontalRule a {
      background-position: 0 -48px; }
    #panel_edit ul #panel_h1 a {
      background-position: 0 -32px; }
    #panel_edit ul #panel_h2 a {
      background-position: -16px -32px; }
    #panel_edit ul #panel_cut a {
      background-position: -32px -64px; }
    #panel_edit ul #panel_copy a {
      background-position: -48px -64px; }
    #panel_edit ul #panel_paste a {
      background-position: -64px -64px; }
    #panel_edit ul #panel_increaseFontSize a {
      background-position: -16px -80px; }
    #panel_edit ul #panel_decreaseFontSize a {
      background-position: -32px -80px; }
    #panel_edit ul #panel_subscription a {
      background-position: -48px -80px; }
    #panel_edit ul #panel_insertImage a {
      background-position: -80px -80px; }
    #panel_edit ul #panel_html a {
      background-position: -48px -48px; }
    #panel_edit ul #panel_removeFormat a {
      background-position: -80px -64px; }
    #panel_edit ul #panel_empty a {
      background-position: -64px -80px; }
  #panel_edit .progress {
    position: absolute;
    bottom: 0px;
    left: 3px;
    width: 100%;
    margin: 0;
    font-size: small;
    color: grey; }
    #panel_edit .progress img {
      float: left;
      border: none;
      margin-right: 3px; }
    #panel_edit .progress .unsaved {
      color: darkred; }
  #panel_edit a {
    border: 3px solid #fbfaf4; }
    #panel_edit a:hover, #panel_edit a.active {
      border: outset grey; }
    #panel_edit a:active {
      border: inset grey; }
  #panel_edit ol {
    padding: 0;
    padding-left: 2px;
    list-style: none;
    clear: both; }
    #panel_edit ol li {
      width: 100%;
      padding-top: 2px;
      padding-bottom: 2px; }
    #panel_edit ol a {
      width: 100%;
      font-size: small;
      color: black; }

#panel_history {
  min-height: 250px;
  display: none; }
  #panel_history #slider {
    margin: 20px 10px 20px 10px; }
  #panel_history #current_version {
    position: absolute;
    padding-right: 5px;
    left: 40px;
    top: 30px;
    font-size: 0.8em; }
    #panel_history #current_version .detail {
      color: grey; }
  #panel_history .progress {
    position: absolute;
    top: 50px;
    left: 50px; }

#wysiwyg .image {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 20px;
  padding: 0; }
  #wysiwyg .image .titleBar, #wysiwyg .image .resizeCorner {
    background-color: #fbfaf4; }
  #wysiwyg .image .titleBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 100%;
    border-top: 1px solid grey; }
  #wysiwyg .image .resizeCorner {
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: 8px;
    right: 0;
    border: 1px solid grey;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-top-left: 5px;
    cursor: se-resize;
    z-index: 100; }
  #wysiwyg .image .titleBar {
    cursor: move; }

#resizeFrame {
  position: absolute;
  border: 5px solid grey;
  opacity: 0.5;
  z-index: 100; }

body {
  font-size: 0.88em;
  line-height: 1.8em; }

h1, h2 {
  font-family: "arial black";
  clear: both; }

h1 {
  line-height: 1em;
  font-size: 3em;
  letter-spacing: -3px;
  margin-top: 1.2em;
  margin-bottom: 0.4em; }

h2 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 1.2em;
  letter-spacing: -2px; }

body {
  padding-top: 0;
  margin-top: 0;
  margin-left: 20px;
  background-color: #f8f7ef; }
  body#index p, body#index h2, body#index form {
    margin-left: 100px;
    width: 40em; }
    body#index p.footer, body#index h2.footer, body#index form.footer {
      margin: 0; }
  body#index .date {
    font-weight: normal;
    margin-left: 0.3em;
    color: #cecece; }
  body#index form {
    margin-top: 20px;
    margin-bottom: 20px; }
  body#index input {
    font-family: "arial black";
    font-size: 1.2em;
    letter-spacing: -2px;
    color: black;
    padding: 10px; }

#wysiwyg {
  margin-top: 20px;
  min-height: 600px;
  width: 700px;
  background-color: white;
  padding: 25px;
  padding-top: 0;
  border: 1px solid grey; }

.dropTarget {
  position: absolute;
  left: 40px;
  height: 0;
  width: 700px;
  border-top: 5px dashed lightgrey; }

.debugLine {
  position: fixed;
  height: 1px;
  width: 100%;
  background: red;
  margin: 0;
  padding: 0; }

hr {
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em; }

.help {
  color: grey;
  font-size: smaller; }

#imageUpload, #changeURL {
  display: none; }

.url {
  color: green; }
  .url em {
    font-weight: bold;
    font-style: normal; }

p.footer {
  font-size: 0.8em;
  color: grey; }
  p.footer a {
    color: grey; }
