%h1
  %img{:src=>"/images/logo.png", :alt=>"tilswiki", :title=>"tilswiki"}

%form{:action => '/', :method => :post}
  %input{:type=>"submit", :value=>"Create a New Page"}

%ul
  %li or try it out at the <a href="/sandbox">Sandbox Page</a></li>
  %li read more <a href="/about">about tilswiki</a></li>

