textarea {
  margin: 1em;
  width: 95%;
  height: 100%;
}

img {
  border: 3px solid green;
  float: right;
}

hr.footer {
  color: lightgrey;
}

p.footer, p.footer a {
  font-size: 0.8em;
  color: lightgrey;
  text-align: center;
  margin: 0;
  padding: 0;
}

