textarea {
  margin: 1em;
  width: 95%;
  height: 100%;
}

img {
  border: 3px solid green;
  float: right;
}

p.footer {
  border-top: 1px solid lightgrey;
  text-align: center;
  margin: 2em;
  padding: 0;
}
p.footer, p.footer a {
  font-size: 0.8em;
  color: lightgrey;
}
