@import visual.sass
@import panel.sass
@import image.sass

body
  font-size: 0.88em
  line-height: 1.8em

h1, h2
  font-family: "arial black"
  clear: both

h1
  line-height: 1em
  font-size: 3em
  letter-spacing: -3px
  margin-top: 1.2em
  margin-bottom: 0.4em

h2
  margin-top: 1.2em
  margin-bottom: 0.4em
  line-height: 1em
  font-size: 1.2em
  letter-spacing: -2px

body
  padding-top: 0
  margin-top: 0
  margin-left: 20px
  background-color: #f8f7ef

  &#index

    p, h2, form
      margin-left: 100px
      width: 40em

      &.footer
        margin: 0

    .date
      font-weight: normal
      margin-left: 0.3em
      color: #cecece

    form
      margin-top: 20px
      margin-bottom: 20px

    input
      font-family: "arial black"
      font-size: 1.2em
      letter-spacing: -2px
      color: black
      padding: 10px


#wysiwyg
  float: left
  margin-top: 20px
  min-height: 600px
  max-width: 700px
  background-color: white
  padding: 25px
  padding-top: 0
  border: 1px solid grey


.clear
  clear: both

p.footer
  font-size: 0.8em
  color: grey

  a
    color: grey


.dropTarget
  position: absolute
  left: 40px
  height: 0
  width: 700px
  border-top: 5px dashed lightgrey


hr
  clear: both
  margin-top: 1em
  margin-bottom: 1em


.help
  color: grey
  font-size: smaller


#imageUpload, #changeURL
  display: none


.url
  color: green

  em
    font-weight: bold
    font-style: normal
