@import visual.sass
@import panel.sass
@import image.sass

body
  margin: 0
  padding: 0.25em
  background-color: #f8f7ef

  &#index

    p, h2, form
      margin-left: 100px
      width: 40em

      &.footer
        margin: 0

    .date
      font-weight: normal
      margin-left: 0.3em
      color: #cecece

    form
      margin-top: 20px
      margin-bottom: 20px

    input
      font-family: "arial black"
      font-size: 1.2em
      letter-spacing: -2px
      color: black
      padding: 10px


#wysiwyg
  float: left
  margin: 0.25em
  min-height: 40em
  max-width: 700px
  background-color: white
  padding: 1em
  padding-top: 0
  border: 1px solid grey


.clear
  clear: both

p.footer
  font-size: 0.8em
  margin: 0.25em
  color: grey
  a
    color: grey


.dropTarget
  position: absolute
  left: 40px
  height: 0
  width: 700px
  border-top: 5px dashed lightgrey


hr
  clear: both
  margin-top: 1em
  margin-bottom: 1em


.help
  color: grey
  font-size: smaller


#imageUpload, #changeURL
  display: none


.url
  color: green

  em
    font-weight: bold
    font-style: normal
