- content_for :page_id do
  index

- content_for :head do
  = javascript_include_tag "index"
  %title tilswiki

%h1
  %img{:src=>"/images/logo.png", :alt=>"tilswiki", :title=>"tilswiki"}

%p Radically easy publishing.


- form_tag(pages_path, :method => :post) do
  %input.ui-state-default.ui-corner-all.ui-priority-primary{:type=>"submit", :value=>"Create a New Page!"}

%p
  Or try it out by playing on
  %a{:href=>"/sandbox"} The Sandbox Page.

%h1 News

%h2
  Backend uses Rails 3
  %span.date 2010-11-04

%p
  The backend of tilswiki is now running on rails 3. This shouldn't
  cause any visible changes, but was a necessary prerequisite for
  further changes. Only the functionality to subscribe to email
  notification on page updates has been removed, it didn't work
  correctly anyway.

%h2
  Version 0.8
  %span.date 2009-05-24

%p

  Time to assign release numbers. After getting <em>view page
  history</em> and <em>restore old version</em> features, assigning
  version number 0.8 feels right. Check out the git tag
  release/tilswiki-0.8 for that specific version.

%h1 About
%p
  Create your own pages, edit text, upload images, change formatting.
  Share your pages with others.
  Clicking the "Create a New Page" button creates a new page that you can immediately edit.

%p
  %a{:href=>"/about"} More about tilswiki


%h1 Source

%p
  tilswiki is open source under
  %a{:href=>"/agpl.txt"} AGPL license
  and hosted at
  %a{:href=>"http://github.com/til/tilswiki/tree"} github
  \.
