<ul>
  <% @assets.each do |asset| -%>
    <li class="asset">
      <ul>
      <% asset.version_paths.each do |version, src| -%>
        <li class="version"><a class="<%= version %>" href="<%= src %>"><%= version %></a></li>
      <% end -%>
      </ul>
    </li>
  <% end -%>
</ul>
